.wrap {
    background: #ddd;
    width: 1000px;
    margin: 50px auto;   
}

.wrap > div {
    width: 200px;
    height: 50px;
    border: 1px solid black;
}

.float-wrap {
    /* float으로 사라진 부모를 찾는 방법 */
    /* 1. 높이를 준다. -> 자식요소의 높이가 변경되면 재계산해야 함 */
    /* height: 52px; */
    /* 2. 부모에게도 float을 준다. -> 아래가 위로 올라옴 */
    /* float: left; */
    /* 3. overflow: hidden; -> 높이 변경 시 알아서 계산 됨*/
    /* overflow: hidden; */
}
    /* 4. 추천사항 after */
.float-wrap::after {
    /* float을 안 줬어도 이전의 float이 영향을 줌 (block, inline 상관없이) */
    content: "";
    display: block;
    /* float 영향 벗어나기 */
    clear: both;
}

.float-wrap > div {
    /* 박스 사이사이 여백 주려면 일일이 계산해야 함 -> flex 사용 */
    float: left;
    margin-right: 30px;
}

.flex-wrap {
    display: flex;
    justify-content: space-between;
}