li {
  list-style: none;
}

.fakeStore {
  ul {
    display: flex;
    gap: 30px;
  }
  .good-list {
    flex-wrap: wrap;

    li {
      width: calc(25%-30px);

      img {
        width: 100%;
      }
    }
  }
}
